<div style="background:transparent !important" class="jumbotron">
  <div class="container home">
  <h1>Simple To-Do</h1>
  <p>A simple to-do application designed with Rails. Create an account to save or edit your list.
    Access it from anywhere, even on mobile! Register now to create a list!</p>
    <p><%= link_to "Register", "register", class: "btn btn-primary" %></p>
    or<br><br>
    <p><%= link_to "Sign-in", "login", class: "btn btn-primary" %></p>
  </div>
</div>