<div style="background:transparent !important" class="jumbotron">
  <div class="container">
  <h1>Simple To-Do</h1>
  <p>A simple to-do application designed using Rails.
    <br>Create an account to save or edit your list.
    <br>Access it from anywhere, even on mobile!</p>
    <p><%= link_to "Create List", "", class: "btn btn-primary" %></p>
  </div>
</div>