// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
}

.task_nav {
  text-align: left;
}

.list-group {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  border-radius: 0 !important;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  width: 70%;
  margin-bottom: 20px;
}

input {
  height: auto !important;
}

textarea {
  width: 85%;
}

a.editLink, a.editLink:link, a.editLink:hover, a.editLink:visited, a.editLink:active {
  text-decoration: none;
}

.details.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px; /* or 950px */
}